---
layout: default
---
<h1 id="top">betaveros's cheat sheet</h1>
<p>Javascript toggling! Click on headers to open/close sections.</p>
<p>Omissions and simplifications exist and are deliberate. This is a cheatsheet, mainly for my own use, so it probably seems inadequate in some places and overly detailed in others to anybody else.</p>
<p id="toc">Quick TOC: <a href="#general">General</a> . <a href="#python">Python</a> . <a href="#c">C/C++</a> . <a href="#web">Web</a> . <a href="#haskell">Haskell</a> . <a href="#latex">LaTeX</a> . <a href="#git">Git</a> . <a href="#scala">Scala</a> . <a href="#shell">Shell</a> . <a href="#perl">Perl</a> . <a href="#ascii">ASCII</a> . <a href="#key">Keyboard</a></p>
<h2 id="general"><span class="toggle" onClick="toggle('generalcont');return false">General</span> <a href="#top">&uArr;</a></h2>
<div id="generalcont">
{% include general.html %}
</div>
<h2 id="python"><span class="toggle" onClick="toggle('pythoncont');return false">Python</span> <a href="#top">&uArr;</a></h2>
<div id="pythoncont">
{% include python.html %}
</div>
<h2 id="c"><span class="toggle" onClick="toggle('ccont');return false">C/C++</span> <a href="#top">&uArr;</a></h2>
<div id="ccont">
{% include c.html %}
</div>
<h2 id="web"><span class="toggle" onClick="toggle('webcont');return false">Web</span> <a href="#top">&uArr;</a></h2>
<div id="webcont">
{% include web.html %}
</div>
<h2 id="haskell"><span class="toggle" onClick="toggle('haskellcont');return false">Haskell</span> <a href="#top">&uArr;</a></h2>
<div id="haskellcont">
{% include haskell.html %}
</div>
<h2 id="latex"><span class="toggle" onClick="toggle('latexcont');return false">LaTeX</span> <a href="#top">&uArr;</a></h2>
<div id="latexcont">
{% include latex.html %}
</div>
<h2 id="git"><span class="toggle" onClick="toggle('gitcont');return false">Git</span> <a href="#top">&uArr;</a></h2>
<div id="gitcont">
{% include git.html %}
</div>
<h2 id="scala"><span class="toggle" onClick="toggle('scalacont');return false">Scala</span> <a href="#top">&uArr;</a></h2>
<div id="scalacont">
{% include scala.html %}
</div>
<h2 id="shell"><span class="toggle" onClick="toggle('shellcont');return false">Shell</span> <a href="#top">&uArr;</a></h2>
<div id="shellcont">
{% include shell.html %}
</div>
<h2 id="perl"><span class="toggle" onClick="toggle('perlcont');return false">Perl</span> <a href="#top">&uArr;</a></h2>
<div id="perlcont">
{% include perl.html %}
</div>
<h2 id="ascii"><span class="toggle" onClick="toggle('asciicont');return false">Ascii</span> <a href="#top">&uArr;</a></h2>
<div id="asciicont">
{% include ascii.html %}
</div>
<h2 id="colors"><span class="toggle" onClick="toggle('colorscont');return false">Colors</span> <a href="#top">&uArr;</a></h2>
<div id="colorscont">
{% include colors.html %}
</div>
<h2 id="key"><span class="toggle" onClick="toggle('keycont');return false">Keyboards</span> <a href="#top">&uArr;</a></h2>
<div id="keycont">
{% include key.html %}
</div>
