<table>
	<tr><th>Key</th></tr>
	<tr><td>command, subcommand, flag etc.</td></tr>
	<tr><td class="cr">file</td></tr>
	<tr><td class="cg">commit / branch / tree-ish
			<ul>
				<li>HEAD = @ = thing pointing in repo</li>
				<li>commit^ = commit~ = parent</li>
				<li>mergecommit^2 = second parent</li>
				<li>commit~2 = grandparent</li>
			</ul>
			Mnemonic:
			<ul>
				<li>^ (caret) branches, so it considers multiple parents</li>
				<li>~ (tilde) is straight(er), so keeps going straight back (= leftward) in history</li>
			</ul>
		</td></tr>
	<tr><td class="cb">remote (origin, upstream)</td></tr>
</table>
<p>Remember there are <a href="http://ndpsoftware.com/git-cheatsheet.html">five areas</a>:</p>
<table>
	<tr><th>Stash</th><th>Workspace</th><th>Index</th><th>Local Repo</th><th>Upstream</th></tr>
	<tr><td>hide stuff</td><td>actual files that non-git stuff manipulate</td><td>staging area, --cached etc.</td><td>committed<br/>HEAD points somewhere here</td><td>push, pull</td></tr>
</table>
<p>The actual cheat sheet.</p>
<table>
	<tr><th>Command</th><th colspan="4">Subcommands, flags, arguments</th><th>Description</th></tr>
	<tr><td rowspan="57">git</td>
		<td colspan="4">status</td><td class="empty"></td></tr>
	<tr><td colspan="4">hist</td><td>[alias]<br/>&nbsp; &nbsp; hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short<br/>(see <a href="http://gitimmersion.com/lab_10.html">git immersion</a>)</td></tr>
	<tr><td rowspan="5">add</td><td colspan="3" class="cr">files</td><td class="empty"></td></tr>
	<tr><td>-p</td><td colspan="2" class="cr">files</td><td>interactively stage parts ("hunks")
			<ul>
				<li>[y]es, [n]o, [q]uit, [a]ll (this and following), ...</li>
				<li>[j] = leave undecided &amp; go next; [k] = leave undecided &amp; go previous</li>
				<li>[s]plit into smaller hunks</li>
				<li>[e]dit hunk as patch manually</li>
				<li>[?] = help</li>
			</ul>
		</td></tr>
	<tr><td>-e</td><td colspan="2" class="cr">files</td><td>edit patch yourself</td></tr>
	<tr><td colspan="3">-u / --update</td><td>all modifications and deletions</td></tr>
	<tr><td colspan="3">-A / --all</td><td>all additions, modifications, and deletions</td></tr>
	<tr><td rowspan="4">commit</td><td colspan="4" class="empty">&empty;</td></tr>
	<tr><td colspan="3">-a / --all</td><td>like add -u</td></tr>
	<tr><td rowspan="2">--amend</td><td colspan="3" class="empty">∅</td></tr>
	<tr><td colspan="2">--date="<em>`date`</em>"</td><td>amend w/ current date<br />(via command substitution; somehow, works even though my `date` is in Chinese)</td></tr>
	<tr><td rowspan="4">branch</td><td colspan="3">[-r / -a]</td><td>list (remote / all)</td></tr>
	<tr><td>-d / -D</td><td colspan="2" class="cg">branch</td><td>delete (safe / forceful)</td></tr>
	<tr><td class="cg" rowspan="2">newbranch</td><td colspan="2" class="empty">&empty;</td><td rowspan="2">new branch (but not checked out; you probably want checkout -b)</td></tr>
	<tr><td colspan="2" class="cg">oldbranch</td></tr>
	<tr><td rowspan="4">checkout</td><td class="cg" colspan="3">master</td><td class="empty"></td></tr>
	<tr><td>-b</td><td class="cg" colspan="2">branch</td><td>First make new branch</td></tr>
	<tr><td class="cr" colspan="3">file</td><td>Reset local unstaged changes</td></tr>
	<tr><td colspan="3">--ours / --theirs</td><td>One or the other version, during a merge<br/>Note that you manage the canon in rebase: --ours is stem, --theirs is tip</td></tr>
	<tr><td rowspan="3">reset</td><td class="cg">HEAD</td><td class="cr" colspan="2">files</td><td>Reset index = make changes unstaged</td></tr>
	<tr><td>--soft</td><td class="cg" colspan="2">branch</td><td>Reset HEAD</td></tr>
	<tr><td>--hard</td><td class="cg" colspan="2">HEAD</td><td>Reset index and workspace = destroy changes</td></tr>
	<tr><td rowspan="4">diff</td><td class="empty" colspan="3"><td>(Working = unstaged) vs staged</td></tr>
	<tr><td colspan="3">--cached / --staged</td><td>Staged vs last commit</td></tr>
	<tr><td class="cg" colspan="3">HEAD</td><td>Working vs last commit</td></tr>
	<tr><td class="cg">HEAD^</td><td class="cg" colspan="2">HEAD</td><td>Changes of last commit (easily generalized)</td></tr>
	<tr><td rowspan="2">remote</td><td colspan="3">[-v]</td><td>list remotes [with URLs]</td></tr>
	<tr><td>add</td><td class="cb">upstream</td><td class="cb">git://foo</td><td class="empty"></td></tr>
	<tr><td rowspan="4">push</td><td class="empty" colspan="4">&empty;</td></tr>
	<tr><td class="cb" rowspan="3">upstream</td><td class="cg" rowspan="3">branch</td><td class="empty" colspan="4">&empty;</td></tr>
	<tr><td>-u / --set-upstream</td><td>track branches</td></tr>
	<tr><td>-f / --force</td><td>after you screw up</td></tr>
	<tr><td rowspan="2">merge</td><td class="cg" colspan="3">branch</td><td>Use some other tree-ish to extend this one</td></tr>
	<tr><td colspan="3">--abort</td><td>abort a merge</td></tr>
	<tr><td rowspan="5">rebase</td><td class="cg" rowspan="2">stem</td><td class="empty" colspan="2"></td><td>Graft branch and commits somewhere else</td></tr>
	<tr><td class="cg" colspan="2">tip</td><td>(tip will first get checked out)</td></tr>
	<tr><td rowspan="2">-i / --interactive</td><td class="cg" colspan="2">HEAD~1337</td><td rowspan="2">interactive rebase: rearrange, edit, squash commits...
			<ul>
				<li>pick: keep as is</li>
				<li>edit: make changes (can add commits etc.)</li>
				<li>reword: only change commit message</li>
				<li>squash: absorb into previous commit + message</li>
				<li>fixup: absorb into previous commit, delete this message</li>
	</ul></td></tr>
	<tr><td colspan="2">--root</td></tr>
	<tr><td colspan="3">--continue</td><td>with interactive</td></tr>
	<tr><td>revert</td><td class="cg" colspan="3">tree-ish</td><td>Make a commit that restores to this commit</td></tr>
	<tr><td rowspan="10">stash</td><td class="empty" colspan="3"></td><td>put current changes in stash</td></tr>
	<tr><td colspan="3">list</td><td>list stashes</td></tr>
	<tr><td rowspan="2">pop</td><td class="empty" colspan="2">&empty;</td><td rowspan="2">apply stash + pop it (if no conflicts)</td></tr>
	<tr><td class="cg" colspan="2">stash@{8}</td></tr>
	<tr><td rowspan="2">apply</td><td class="empty" colspan="2">&empty;</td><td rowspan="2">apply stash</td></tr>
	<tr><td class="cg" colspan="2">stash@{8}</td></tr>
	<tr><td rowspan="2">drop</td><td class="empty" colspan="2">&empty;</td><td rowspan="2">delete top stash w/o applying<br />(esp. after git stash pop + resolving conflicts)</td></tr>
	<tr><td class="cg" colspan="2">stash@{8}</td></tr>
	<tr><td rowspan="2">show</td><td class="empty">&empty;</td><td rowspan="2">[ -p ]</td><td rowspan="2">show stash briefly<br />(-p: as patch)</td></tr>
	<tr><td class="cg">stash@{8}</td></tr>
	<tr><td rowspan="6">clean</td><td>-f</td><td colspan="2" rowspan="6">[path]</td><td>Remove files not in version control</td></tr>
	<tr><td>-i</td><td>Interactively</td></tr>
	<tr><td>-n</td><td>Dry run</td></tr>
	<tr><td>-d</td><td>Also directories</td></tr>
	<tr><td>-x</td><td>Even if .gitignore'd</td></tr>
	<tr><td>-X</td><td>Only if .gitignore'd</td></tr>
	<tr><td>ls-files</td><td colspan="3">| xargs wc -l</td><td>Count lines...</td></tr>
</table>
