<table class="padded">
	<tr>
		<td>~<sub>`</sub></td>
		<td>!<sub>1</sub></td><td>@<sub>2</sub></td>
		<td>#<sub>3</sub></td><td>$<sub>4</sub></td>
		<td>%<sub>5</sub></td><td>^<sub>6</sub></td>
		<td>*<sub>7</sub></td><td>&amp;<sub>8</sub></td>
		<td>(<sub>9</sub></td><td>)<sub>0</sub></td>
		<td>_<sub>-</sub></td><td>+<sub>=</sub></td>
		<td>|<sub>\</sub></td>
		<td class="cr">&larr;</td>
	</tr>
	<tr>
		<td class="cr">&harr;</td>
		<td>Q</td><td>W</td><td>E</td><td>R</td><td>T</td>
		<td>Y</td><td>U</td><td>I</td><td>O</td><td>P</td>
		<td>{<sub>[</sub></td><td>}<sub>]</sub></td>
	</tr>
	<tr>
		<td class="cr">C&uArr;</td>
		<td>A</td><td>S</td><td>D</td><td>F</td><td>G</td><td>H</td>
		<td>J</td><td>K</td><td>L</td>
		<td>:<sub>;</sub></td>
		<td>"<sub>'</sub></td>
		<td class="cr">E&crarr;</td>
	</tr>
	<tr>
		<td class="cr">S&uarr;</td>
		<td>Z</td><td>X</td><td>C</td><td>V</td><td>B</td>
		<td>N</td><td>M</td>
		<td>&lt;<sub>,</sub></td><td>&gt;<sub>.</sub></td>
		<td>?<sub>/</sub></td>
		<td class="cr">S&uarr;</td>
	</tr>
</table>
<table class="small">
	<tr>
		<td>PrtSc<sub>SysRq</sub></td>
		<td>Scroll&curren;</td>
		<td>Pause<sub>Break</sub></td>
	</tr>
	<tr>
		<td>Ins</td>
		<td>Home</td>
		<td>Pg&uarr;</td>
	</tr>
	<tr>
		<td>Del</td>
		<td>End</td>
		<td>Pg&darr;</td>
	</tr>
</table>
