<h3>how do you server</h3>

<pre>
# these might assume Ubuntu
adduser example
adduser example sudo

# log in as example, put entry in ~/.ssh/authorized_keys
# edit /etc/ssh/sshd_config to say:
PasswordAuthentication no
sudo systemctl restart sshd
</pre>

<pre>
sudo vim /etc/nginx/conf.d/your.website.com.conf
sudo nginx -s reload
</pre>

<pre>
server {
    listen 80; # port
    listen [::]:80; # ipv6 port

    # serve static content
    root /path/to/static-content-folder;
    index index.html; # can list more than one

    location /special-static/ {
        alias /path/to/special/folder/;
    }
}
server {
    listen 443 ssl;
    listen [::]:443 ssl ipv6only=on; # ??

    # Certbot should deal with these
    ssl_certificate /path/to/fullchain.pem;
    ssl_certificate_key /path/to/privkey.pem;
    include /path/to/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
</pre>

<a href="https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/">Reverse Proxy</a>: inside a server {}:

<pre>
location /someexactpath/ {
    proxy_pass http://localhost:12345/;
    proxy_buffering off;
}

# or location ~* ^/somepath/ { }

location /idk/ {
    proxy_pass http://localhost:12345/;
    proxy_buffering off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";

    # by default nginx sets Host to $proxy_host
    proxy_set_header Host $host;
    proxy_read_timeout 7200;
}
</pre>

<pre>
sudo ufw app list // this does NOT mean what's allowed in lol
sudo ufw status
sudo ufw allow 8073
sudo ufw allow http
sudo ufw allow https
sudo ufw allow ssh
sudo ufw allow mosh
</pre>

<p>The opposite of <code>allow</code> is <code>deny</code>, but to undo typing one of the above you type <code>delete</code> and then the rule again, e.g. <code>ufw delete allow 8073</code></p>

<h3>ssh</h3>

<p><code>ssh-keygen <s>-t rsa -b 4096</s> -t ed25519 [-f ~/.ssh/filename] [-C comment@example.com]</code></p>
<ul>
<li>show fingerprint: <code>ssh-keygen -l [-f ~/.ssh/filename]</code></li>
<li>regenerate public from private: <code>ssh-keygen -y [-f ~/.ssh/filename]</code></li>
<li>change password: <code>ssh-keygen -p [-f ~/.ssh/filename]</code></li>
</ul>

<p>View the public host key you have stored for a server: <code>ssh-keygen -H -F hostname.example.com[:port]</code> (the hostnames are normally hashed so you can't just list all known hostnames)</p>
<p>Delete it: <code>ssh-keygen -R hostname.example.com[:port]</code>
<p>The server's keys might be in <code>/etc/ssh</code>.</p>

<p><code>ssh-copy-id -i ~/.ssh/filename user@host</code></p>
<p><code>ssh -i ~/.ssh/filename user@host</code></p>

<h3>misc</h3>

<pre>ffmpeg -i input-video.avi -vn -acodec copy output-audio.aac # -vn is no video. -acodec copy says use the same audio stream
ffmpeg ... -filter:v crop=w:h:x:y,scale=w:h
</pre>

<p><code>sudo dpkg -i foo.deb</code>; <code>sudo apt install -f</code></p>

<p>version: <code>lsb_release -a</code></p>

<p><code>ssh user@example.com "gzip -c /home/user/bigfile" &gt; backup-(date +%F-%T).db.gz</code></p>

<p><code>ssh user@example.com mysqldump --user=some_user --password=some_password --host=some_host.db --databases some_database | gzip &gt; backup-(date +%F-%T).sql.gz</code></p>

<p><code>df</code> (about file systems, used/avail %) <code>-h</code> human-readable powers of 1024</p>

<p><code>ls</code></p>

<ul>
	<li><code>-l</code> long</li>
	<li><code>-S</code> sort by file, largest first</li>
	<li><code>-r</code> reverse (can be combined)</li>
	<li><code>-h</code> human-readable sizes</li>
</ul>

<p><code>tar</code></p>

<ul>
	<li><code>cf archive.tar src1.txt src2.txt</code>: create</li>
	<li><code>xf archive.tar</code>: extract</li>
	<li><code>xvzf archive.tar.gz</code>: extract gzip verbosely</li>
	<li><code>cvzf archive.tar.gz src1.txt src2.txt</code>: create gzip verbosely</li>
</ul>

<p>
<code>find . -printf '%s\t%p\n' | sort -n</code> or <code>| sort -nr | head -10</code>
<code>du | sort -g</code>
</p>

<p><code>tr 'a-z' 'n-za-m'</code>, or <code>tr -d ' '</code> to delete things.</p>

<p>timezones on some flavors of Linux: <code>sudo dpkg-reconfigure tzdata</code></p>

<p><code>wget -r -np -k example.com</code>
<ul>
	<li>-r = --recursive: recursive retrieving, default depth of 5</li>
	<li>-np = --no-parent: never ascend to parent directory, so that only files below in hierarchy will be downloaded</li>
	<li>-k = --convert-links: rewrite links so pages are suitable for local viewing</li>
</ul>
</p>

<p><code>sudo echo foo &gt; privileged_file</code> does not work, try <code>echo foo | sudo tee privileged_file</code>
or <code>sudo sh -c 'echo foo &gt; privileged_file'</code>.
related vim hack, if you accidentally opened a privileged file read-only and edited: <code>:w !sudo tee %</code></p>

<p><code>tee</code> takes <code>-a</code>/<code>--append</code>, analogue of <code>&gt;&gt;</code></p>

<pre>scp your_username@remotehost.edu:foobar.txt /some/local/directory
scp foobar.txt your_username@remotehost.edu:/some/remote/directory</pre>

<p><code>scrot</code></p>

<ul>
	<li>-d = --delay NUM: wait NUM seconds
		<ul>
			<li>-c = --count: display a countdown
		</ul>
	</li>
	<li>-u = --focused: use currently focused window</li>
	<li>-s = --select: window or rectangle with mouse</li>
	<li>-b = --border: include WM border</li>
</ul>

<h3>random debugging/file-rescuing things</h3>

<p><code>df</code></p>
<p><code>fsck</code></p>
<p><code>smartctl</code> (<code>sudo smartctl -x /dev/something</code>, maybe truncate <code>n#p#</code>?)</p>
<p><code>journalctl</code>: queries systemd journal maybe <code>-k -b -1</code>. <code>-k</code> is kernel only. <code>-b -1</code> is a number, last boots are <code>-0</code>, <code>-1</code>... and first boots are <code>1</code>, <code>2</code>... <code>-e</code> to page to end automatically; <code>-r</code> reverses; <code>-f</code> follows.</p>
<p><code>dmesg</code></p>
<p><code>lsblk</code></p>
<p><code>sudo usb-creator-gtk</code> (gui)</p>

<h3>grep and friends</h3>

Syntax: <code>grep pattern files...</code>

<ul>
	<li><code>grep</code>, <code>grep -G</code>: "basic regular expressions": ?+{}|() are literal, magic if backslashed.</li>
	<li><code>egrep</code>, <code>grep -E</code>: "extended regular expressions"</li>
	<li><code>fgrep</code>, <code>grep -F</code>: fixed strings</li>
</ul>
<h4>options everybody knows</h4>
<ul>
	<li><code>-A NUM</code>: print NUM lines of context after</li>
	<li><code>-B NUM</code>: print NUM lines of context before</li>
	<li><code>-C[NUM]</code>: print NUM lines of context, default 2 (grep says there must be no space between the option and its argument! others don't)</li>
	<li><code>-i</code>: ignore case</li>
	<li><code>-m NUM</code>: stop reading file after NUM matches</li>
	<li><code>-o</code>: only print the matching part of lines</li>
	<li><code>-r</code>: recursive</li>
	<li><code>-w</code>: search for as if a word</li>
</ul>
<h4>grep</h4>
<ul>
	<li><code>--color</code>: color-highlight matches</li>
	<li><code>--exclude PAT</code>: exclude files matching the filename pattern</li>
	<li><code>--exclude-dir PAT</code>: exclude directories matching the filename pattern</li>
	<li><code>--include PAT</code>: <em>only</em> search files matching the filename pattern</li>
	<li><code>--include-dir PAT</code>: <em>only</em> search directories matching the filename pattern</li>
</ul>
<h4>ack</h4>
<ul>
	<li><code>-f</code>: just list files that have been selected for searching</li>
	<li><code>-g PATTERN</code>: print files where relative path + filename matches PATTERN</li>
	<li><code>--ignore-dir DIRNAME</code>: ignore directories with this exact name (not a pattern!)</li>
	<li><code>--ignore-file FILTER</code>: ignore files matching this filter</li>
	<li><code>-Q</code>: match as literal string</li>
	<li><code>--smart-case</code></li>
	<li><code>--type-set=yourtypename:FILTER --yourtypename</code>: create a custom file filter type, and use it (probably put the first part in your ~/.ackrc)</li>
	<li>Filters:
		<ul>
			<li><code>is:FILENAME</code> matches FILENAME literally</li>
			<li><code>ext:EXTENSION,...</code> e.g. <code>ext:hs</code> or <code>ext:c,h,cpp</code> checks the extension</li>
			<li><code>match:PATTERN</code> matches filename with pattern, case-insensitively</li>
		</ul>
	</li>
</ul>
<h4>ag</h4>
<ul>
	<li><code>-g PATTERN</code>: print filenames that match</li>
	<li><code>-G PATTERN</code>: only search filenames whose names match</li>
	<li><code>--ignore PATTERN</code>: ignore files/directories whose names match this pattern</li>
	<li><code>-Q</code>: match as literal string</li>
	<li><code>-S --smart-case</code></li>
	<li><code>-U</code>: don't use VCS ignore files (.gitignore etc.) but  still use .agignore</li>
</ul>
<h4>rg</h4>
<ul>
	<li><code>-g '!PATTERN'</code>: don't search filenames whose names match</li>
</ul>

<h3>sed, awk...</h3>

<pre>
sed s/foo/bar/
sed s/foo/bar/g
sed 's/foo\(.\)/bar\1/g'
sed -E 's/\d/\1\1/g'
sed -n /foo/p # just grep
sed -n s/foo/bar/p # only print subbed lines
</pre>

<p>Each awk command(?) is <code>pattern { action }</code>. pattern could be empty to do something every line, <code>BEGIN</code>, <code>END</code>, <code>/pattern/</code>, expression like <code>NF &gt; 2</code>. <code>$0</code> is the entire line (record), <code>$1</code> is the first (1-indexed) field (whitespace-separated; use <code>-F</code> to specify a separator, which maybe can be empty to have each character its own field), etc. Lots of C-like math ("1" + "2" == 3, but "10" &lt; "2", use unary +), but not bitwise operators; juxtaposition is concatenation; <code>x ~ /foo/</code>; <code>NF</code> number of fields (<code>$NF</code> for last field, <code>$(NF-1)</code>...), <code>NR</code> is number of records (lines) (so far). Variables can be used ex nihilio; they default to "", which converts to 0.</p>

<pre>
awk '{ x += $1 } END { print x }'
awk -F ',' '/aaa/ { print $3 }' data.csv | gnuplot -p -e "plot '-'"
</pre>

<h3>identify and convert (ImageMagick)</h3>

<p><a href="http://www.imagemagick.org/Usage/">Usage</a></p>

<p>
Snippet to get name, height, width in format of an HTML tag: <code>identify -format '&lt;img src="%f" width="%w" height="%h" /&gt;' $argv</code>
</p>

<h4>Crop</h4>

<code>convert dragon.gif -crop 40x30+10+10 +repage crop_dragon.gif</code>

<h4>Resize</h4>

<pre>convert dragon.gif -resize 64x64 resized_dragon.gif</pre>

<p>This resizes the gif, preserving aspect ratio, so that it is as large as possible while fitting in a 64x64 box (one dimension = 64, the other &le; 64). Variants (which often need to be escaped for the shell to see them):</p>

<ul>
	<li><code>64x64!</code>: Exactly that size; don't preserve aspect ratio</li>
	<li><code>64x64&gt;</code>: Only shrink</li>
	<li><code>64x64&lt;</code>: Only enlarge</li>
	<li><code>64x64^</code>: Fill area: make it as small as possible while containing a 64x64 box (one dimension = 64, the other &gt; 64). Corollary: <code>1x64^</code> forces a height of 64; <code>64x1^</code> forces a width of 64.</li>
	<li><code>50%</code> just means fifty percent</li>
</ul>

<p>These characters are just flags that affect the entire <code>-resize</code>. Location doesn't matter. <code>50%x30</code> doesn't work.</p>

<h3>shell polyglot</h3>

<table>
	<tr><th colspan="2">Combining commands</th></tr>
	<tr><td>a &amp;&amp; b</td><td>a; and b</td></tr>
	<tr><td>a || b</td><td>a; or b</td></tr>
	<tr><td>a $(b) <em>will be word-split and path-expanded</em></td><td>a (b | string split " ")</td></tr>
	<tr>a "$(b)"</td><td>a (b)</td></tr>
	<tr><th colspan="2">History</th></tr>
	<tr>
		<td>!-<em>(number)</em> # nth most recent command
			<br/>!-1 <em>&equiv;</em> !!
			<br/>!$ # last argument of most recent command
			<br/>^old^new^ # substitute old &rarr; new in last command, then re-run it
		</td>
		<td>(use arrow keys)</td>
	</tr>
	<tr><th colspan="2">Redirection</th></tr>
	<tr><td colspan="2">&gt;outfile</td></tr>
	<tr><td>2&gt;errfile</td><td><em>also works, or</em> ^errfile</td></tr>
	<tr><td>2&gt;&amp;1</td><td><em>also works, or</em> ^&amp;1</td></tr>
	<tr><td>2&gt;&amp;1</td><td><em>also works, or</em> ^&amp;1</td></tr>
	<tr><td>2&gt;&amp;1 &gt;/dev/null or whatever</td><td>a 2&amp;| b</td></tr>
	<tr><td>a &lt;(b)</td><td>a (b | psub)</td></tr>
	<tr><th colspan="2">Variables</th></tr>
	<tr><td>var=value</td><td>set var value</td></tr>
	<tr><td>array=(one two three)</td><td>set array one two three</td></tr>
	<tr><td>export var=value</td><td>set -x var value <em>(-x &equiv; --export)</em></td></tr>
	<tr><td>unset var</td><td>set -e var <em>(-e &equiv; --erase)</em></td></tr>
	<tr>
		<td class="empty"></td>
		<td>
			<ul>
				<li>no flag: honors existing scope, otherwise local to <em>function</em>)</li>
				<li>-l / --local: to current block</li>
				<li>-g / --global</li>
				<li>-U / --universal: persists across users, restarts</li>
			</ul>
		</td>
	</tr>
	<tr><td>"$@"<br/>$1 $2 ... ; $# is count; "$*" is all args space-concatenated</td><td>$argv (array)</td></tr>
	<tr><td>$0</td><td>$_ (currently running command)</td></tr>
	<tr><td>$?</td><td>$status</td></tr>
	<tr><td colspan="2">$HOME</td></tr>
	<tr><td colspan="2">$PWD</td></tr>
	<tr><td colspan="2">$USER (not technically bash built-in)</td></tr>
	<tr><td colspan="2">$PATH (array in fish)</td></tr>
	<tr><th colspan="2">Arrays and data</th></tr>
	<tr><td colspan="2">seq 5 &rarr; 1 2 3 4 5 (not bash built-in, write a loop if you don't have seq)</td></tr>
	<tr><td>${#str}</td><td>string length $str</td></tr>
	<tr><td>${#array[@]}</td><td>count $array</td></tr>
	<tr><td>[[ bool_expr ]] (better than <code>[ ... ]</code>)</td><td>test bool_expr (<code>[ ... ]</code> works too but dispreferred)</td></tr>
	<tr>
		<td colspan="2">
			<ul>
				<li>
					<ul>
						<li>-e file # file exists</li>
						<li>-d file # is directory</li>
						<li>-f file # is regular file (not directory)</li>
						<li>-s file # size not zero</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>str1 = str2 <em>or == in bash</em>
							<ul>
								<li>
									In <code>[[ ]]</code>, the RHS is a glob pattern,
											so e.g. <code>'foobar' = 'f*r'</code>.
									To do this in fish, <code>string match --quiet 'f*r' 'foobar'</code>.
								</li>
							</ul>
						</li>
						<li>str1 != str2</li>
						<li>-n str1 # length != 0 i.e. nonempty</li>
						<li>-z str1 # length == 0 i.e. empty</li>
					</ul>
				</li>
				<li>
					num1 -eq num2 (-ne, -gt, -ge, -lt, -le)
				</li>
				<li>
					<ul>
						<li>! bool1</li>
						<li>(test, <code>[ ]</code>) bool1 -a bool2, bool1 -o bool2</li>
						<li>(<code>[[ ]]</code>) bool1 &amp;&amp; bool2, bool1 || bool2a</li>
					</ul>
				</li>
				<li>
					( ) for grouping (probably need to escape it)
				</li>
			</ul>
		</td>
	</tr>
	<tr><td>$((1 + 2)) # no need for $-prefixing var names</td><td>math -- 1 + 2 # thin wrapper for bc; use -- to avoid negative numbers becoming flags</td></tr>
	<tr><th colspan="2">control flow i guess?</th></tr>
	<tr><td><pre>if ...; then
...
elif ...; then
...
else
...
fi</pre></td><td><pre>if ...
...
else if ...
...
else
...
end</pre></td></tr>
	<tr><td><pre>for v in 1 2 3
do
echo $v
done</pre></td><td><pre>for v in 1 2 3
echo $v
end</pre></td></tr>
	<tr><td><pre>case ... in
pattern1)
...
;;
pattern2)
...
;;
*)
...
esac</pre></td><td><pre>switch ...
case pattern1
...
case pattern2
...
case '*'
...
end</pre></td></tr>
</table>

<h3>path manipulation</h3>
<pre>
basename /path/to/foo &rarr; foo
basename /path/to/foo.cpp .cpp &rarr; foo
dirname /path/to/foo &rarr; /path/to
dirname foo &rarr; .
</pre>
<h3>strftime</h3>
<pre>
man date:

| date        %F = %Y-%m-%d = 2013-09-27
|             %D = %m/%d/%y = 09/27/13
|
|   year    | %Y = 2013, %C = 20, %y = 13
|   month   | %m = 09, %b = %h = Sep, %B = September
|   day     | %d = 27, %e = %_d
|   of week | %a = Fri, %A = Friday
|
|         %j = 001..366
|
| time           %T = 13:37:42
|                %r = locale's 01:11:04 PM
|   h:m        | %R = 13:37
|       hour   | %H = (00..23), %I = (01..12); %k = %_H, %l = %_I
|              |                %p = AM/PM, %P = am/pm
|       minute | %M = 37
|       second | %S = (00..60)

ISO time (more or less): %Y-%m-%dT%H:%M:%S%z = %FT%T%z
</pre>

<h3>nano</h3>

<pre>
^G Get help
^X close
^O (write Out): save the file
^S save with no prompt

^W ("where?"): search
^Q ("where?"): search back
^\ replace

M-A / ^6: MArk (visual mode)
M-} (or Tab): indent
M-{ (or Shift-Tab): dedent

M-^ copy line
^K (Kill): cut line
^U (Uncut): uncut line

M-U undo
M-E Redo

M-: start/stop recording macro
M-; do macro

M-# line numbers
M-P whitespace
M-Y color
</pre>

<h3>sql(ite)</h3>

this doesn't belong here but idk

<code>.tables</code>
<code>.schema table_name</code>
<code>.headers ON</code>
<code>.mode column</code>
