<h3>CSS</h3>
<p><em>Specificity</em> = (ID selectors) &gg; (class selectors, attribute selectors, pseudo-classes) &gg; (type selectors, pseudo-elements)</p>
<table>
	<tr><td>E F</td><td>descendant</td></tr>
	<tr><td>E &gt; F</td><td>child</td></tr>
	<tr><td>E:first-child</td><td>first child of its parent</td></tr>
	<tr><td>E + F</td><td>F preceded by E</td></tr>
	<tr><td>E[foo]</td><td>has foo attribute</td></tr>
	<tr><td>E[foo="bar"]</td><td>foo attribute equal to bar</td></tr>
	<tr><td>E[foo~="warning"]</td><td>foo attribute, as space-separated list, contains bar</td></tr>
	<tr><td>E[foo][bar]</td><td>has foo and bar attributes (satisfies both attribute criteria)</td></tr>
	<tr><td>E.x</td><td>class</td></tr>
	<tr><td>E#id</td><td>id</td></tr>
</table>
<table>
	<tr><td>table {<br/>&nbsp;&nbsp;border-collapse:<br/>}</td><td>collapse;<br/>separate;</td></tr>
	<tr><td>position:<br/>(accompanied by top: and left:)</td><td><ul>
				<li>static (default)</li>
				<li>relative (shifts it relative to static)</li>
				<li>absolute (pulls it out of static flow; fixes it relative to &lt;html&gt; tag or <em>nearest positioned ancestor</em>)</li>
				<li>fixed (pulls it out of static flow; fixes it relative to browser viewpoint)</li>
				<li>sticky (static until exceeds some <code>top:</code>/<code>left:</code>/... offset from viewport of closer element with "scroll" via <code>overflow:</code>, then sticks)</li>
			</ul></td></tr>
			<tr><td>box-sizing</td><td><ul>
						<li>content-box &rarr; (content = height, width) + padding + border + margin
						<li>border-box &rarr; (content + padding + border = height, width) + margin</li>
			</ul>
			Note: <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing">Margins collapse</a> between siblings, parent and first/last child, and two margins of empty block.
				</td></tr>
	<tr><td rowspan="2">background:</td><td>linear-gradient(<em>to right</em>, black, white);
			<ul>
				<li><em>to top;</em> [top, bottom, left, right]</li>
				<li><em>to top right;</em></li>
				<li><em>42deg;</em> (polar in vendor, navigational in official!)</li>
			</ul>
	</td></tr>
	<tr><td>url("bg.png") black repeat-y fixed;
			<ul>
				<li>fixed (to viewport), local (w/ contents), scroll (w/ element), inherit</li>
				<li>repeat-x, repeat-y, repeat, no-repeat, space, round (last two are obscure)</li>
			</ul>
	</td></tr>
	<tr><td rowspan="2">overflow:</td><td>
			<ul>
				<li>overflow:
					<ul>
						<li>visible; (default)</li>
						<li>hidden; /* can only cause scrolling programmatically */</li>
						<li>clip; /* no scrolling ever */</li>
						<li>scroll; /* scrollbars always */</li>
						<li>auto; /* scrollbars when needed */</li>
					</ul>
				</li>
				<li>white-space:
					<ul>
						<li>normal;</li>
						<li>nowrap; /* normal, but don't wrap lines */</li>
						<li>pre;</li>
						<li><strong>pre-wrap; /* pre, but wrap lines */</strong></li>
						<li>pre-line; /* normal but linebreaks break lines */</li>
					</ul>
				</li>
				<li>word-break:
					<ul>
						<li>normal;</li>
						<li>break-all; /* break anywhere, not CJK text */</li>
						<li>keep-all; /* do not break CJK text */</li>
						<li>break-word; /* first break between words, then anywhere */ /* not standardized */</li>
					</ul>
				</li>
				<li>overflow-wrap:
					<ul>
						<li>normal;</li>
						<li>break-word;</li>
					</ul>
				</li>
			</ul>
		</td></tr>
</table>
<p>Contexts:</p>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context">Block formatting contexts</a> (BFCs) affect positioning stuff: chiefly, they contain floats; margins only collapse inside BFCs; <code>position: static|relative|sticky</code> use them. They are introduced by:</p>
<ul>
	<li>overflow: anything not <code>visible</code></li>
	<li>getting out of flow: floating, absolute/fixed positioning, <code>display: flow-root;</code> (the purest way to make a new BFC, mediocre browser support)</li>
	<li>display: inline-block, table-cell, table-caption</li>
	<li>flex and grid items</li>
	<li>(<code>contain: layout|content|strict</code> (very poor browser support))</li>
</ul>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block">Containing blocks</a> for</p>
<ul>
	<li>static/relative/sticky: content box of closest block container or BFC</li>
	<li>absolute: padding box os closest element with position not <code>static</code> or with a <code>transform</code>, <code>perspective</code>, <code>filter</code> (in Fx), <code>contain: paint</code></li>
	<li>fixed: viewport, or same set of exceptions (<code>transform</code> etc)
</ul>
<p>Centering:</p>
<ul>
	<li>for inline or inline-block, set <code>text-align: center</code> on parent</li>
	<li>for blocks: <code>margin: 0 auto;</code></li>
	<li>vertical centering: Apparently <code>position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);</code></li>
	<li>or just use flexbox, it's 2019.</li>
</ul>
<p><code>z-index</code> requires set <code>position</code> and competes with other elements in the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context">stacking context</a>.</p>
<h4>Flexbox</h4>
<p><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS-tricks' Complete Guide to Flexbox</a></p>
<p>Flex container:</p>
<ul>
	<li>display: flex | inline-flex;</li>
	<li>flex-direction: row | row-reverse | column | column-reverse;</li>
	<li>justify-content (parallel to flow)</li>
	<li>align-items (perpendicular to flow; items in each line)</li>
	<li>align-content (perpendicular to flow; wrapped flow lines, useless if no wrapping)</li>
</ul>
<p>Flex item:</p>
<ul>
	<li>flex-grow: (number);</li>
	<li>flex-shrink: (number);</li>
	<li>flex-basis: (length) | auto;</li>
	<li>flex: (flex-grow) (flex-shrink) (flex-basis); /* default = 0 1 auto */
		<ul>
			<li>flex: X; = X 1 0;</li>
			<li>flex: X Y; = X Y 0;</li>
			<li>flex: initial; = 0 1 auto; /* = default */</li>
			<li>flex: auto; = 1 1 auto;</li>
			<li>flex: none; = 0 0 auto;</li>
		</ul>
		<em>Important!</em> Without a <code>flex:</code>, flex-basis defaults to auto. With a <code>flex:</code> that omits it, flex-basis defaults to 0.
	</li>
</ul>
<h3>HTTP Responses</h3>
<table>
	<tr><th>Response</th><th>Name</th><th>Description</th></tr>
	<tr><td>100</td><td>Continue</td><td>Request headers are good, send the body please (in response to Expect: 100-continue)</td></tr>
	<tr><td>101</td><td>Switch Protocols</td><td>e.g. HTTP to FTP</td></tr>
	<tr><td>200</td><td>OK</td><td>successful</td></tr>
	<tr><td>201</td><td>Created</td><td>new resource, see here</td></tr>
	<tr><td>203</td><td>Non-Authoritative Information</td><td>the following data is from e.g. a third party</td></tr>
	<tr><td>204</td><td>No Content</td><td>successful, but nothing to return</td></tr>
	<tr><td>205</td><td>Reset Content</td><td>successful, please reset your view (e.g. form)</td></tr>
	<tr><td>206</td><td>Partial Content</td><td>successful, only returning requested parts (e.g. in response to partial downloading program)</td></tr>
	<tr><td>300</td><td>Multiple Choice</td><td>pick a choice</td></tr>
	<tr><td>301</td><td>Moved Permanently</td><td>use this new URL</td></tr>
	<tr><td>404</td><td>Not Found</td><td>you know</td></tr>
	<tr><td>503</td><td>Service Unavailable</td><td>temporary condition (overload, often)</td></tr>
	<tr><td>?</td><td>I should stop procrastinating</td><td>hello thar</td></tr>
</table>
<h3>Ampersand Escapes (+ LaTeX)</h3>
<table>
	<tr><td>&larr;</td><td>[udlr]arr;</td><td>\(up|down|left|right)arrow (math)</td></tr>
	<tr><td>&lArr;</td><td>[udlr]Arr;</td><td>\(Up|Down|Left|Right)arrow (math)</td></tr>
	<tr><td>&para;</td><td>para;</td><td>\P</td></tr>
	<tr><td>&times;</td><td>times;</td><td>\times (math)</td></tr>
	<tr><td>&div;</td><td>div;</td><td>\div (math)</td></tr>
	<tr><td>&hellip;</td><td>hellip;</td><td>\ldots</td></tr>
	<tr><td>&infin;</td><td>infin;</td><td>\infty (math)</td></tr>
	<tr><td>&sdot;</td><td>sdot;</td><td>\cdot (?) (math)</td></tr>
	<tr><td>&sub;&sup;&nsub;&nsup;&sube;&supe;</td><td>sub;sup;nsub;nsup;sube;supe</td><td>...</td></tr>
	<tr><td>&agrave;&egrave;&igrave;&ograve;&ugrave;</td><td>[aeiou]grave;</td></tr>
	<tr><td>&aacute;&eacute;&iacute;&oacute;&uacute;</td><td>[aeiou]acute;</td></tr>
	<tr><td>&lsquo;&rsquo;&ldquo;&rdquo;</td><td>[lr][sd]quo;</td></tr>
	<tr><td><a href="https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references">more</a></td><td>hi</td></tr>
</table>
<h3>JavaScript Array</h3>
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">mdn @ Array</a>

<p>Assumes <code>a: T[]</code></p>

<ul>
	<li>.length: number</li>
	<li>Start and end:
		<ul>
			<li>.pop(): T</li>
			<li>.unshift(): T</li>
			<li>.push(e: T): number // new length</li>
			<li>.shift(e: T): number // new length</li>
			<li>To extend: Array.prototype.push.apply(a, b: T[])</li>
		</ul>
	</li>
	<li>.join(separator: string): string</li>
	<li>.slice(start: number, end: number): T[]</li>
	<li>.indexOf(item: T, fromIndex?: number): number // or -1</li>
	<li>.lastIndexOf(item: T, fromIndex?: number): number // or -1</li>
	<li>Iteration methods (all take callbacks f: (item: T, index: number, a: T[]) =&gt; any)
		<ul>
			<li>.forEach(f)</li>
			<li>.map(f)</li>
			<li>.filter(f)</li>
			<li>.every(f) // all</li>
			<li>.some(f) // any</li>
			<li>.find(f) // or undefined</li>
			<li>.findIndex(f) // or -1</li>
			<li>.reduce((accumulator: S, item: T, index: number, a: T[]) =&gt; S, initialValue?: S): S</li>
		</ul>
	</li>
	<li><em>Destructive</em> operations
		<ul>
			<li>.reverse()</li>
			<li>.sort(cmp?: (T, T) =&gt; number) // default order is always lexicographic by toString! e.g. 100 &gt; 20 &gt; 3<br/>
				.sort((x, y) =&gt; x - y) // numeric sort</li>
			<li>.splice(startIndex: number, deleteCount?: number, ...items: T[])</li>
		</ul>
	</li>
</ul>

<h4>Array(n) magic</h4>

<p>(Beware browser compatibility concerns.)</p>

<p><code>Array(20).fill(1)</code> creates a list of 20 ones. <code>Array(26).keys()</code> is an iterator over its keys, and <code>[...Array(26).keys()]</code> is black magic for the half-open range from 0 to 26.</p>

<p>NOTE: <code>Array(20)</code> has "empty" elements, which are different from the elements being <code>undefined</code>. For the sake of functions like <code>.map</code>, "empty" elements are completely skipped, so that <code>Array(20).map(_ =&gt; 1)</code> will give another list of 20 empty elements. But spreading, native iterating, and <code>Array.from()</code> still work fine, for some reason.</p>

<h3>JavaScript String</h3>

<p>Assumes <code>s: string</code></p>

<ul>
	<li>s.length: number</li>
	<li>Indexing, ord/chr conversion:
		<ul>
			<li>s.charAt(1) <em>or</em> s[1]: length-1 string</li>
			<li>s.charCodeAt(1): number (UTF-16 code unit)</li>
			<li>String.fromCharCode(ord: number): length-1 string</li>
		</ul>
	</li>
	<li>Slices and stuff:
		<ul>
			<li>s.startsWith(t: string)</li>
			<li>s.endsWith(t: string)</li>
			<li>s.indexOf(t: string)</li>
			<li>s.lastIndexOf(t: string)</li>
			<li>s.substr(start: number, len: number)</li>
			<li>s.substring(start: number, end: number)</li>
			<li>s.trim()</li>
		</ul>
	</li>
	<li>s.split(separator: string, limit: number): string[]
		<ul>
			<li>omitting the separator is useless, you get a one-element array with the whole string. Try <code>s.split(/\s+/)</code></li>
			<li><code>"foo".split('')</code> or <code>Array.from("foo")</code> turns into list of length-1 strings</li>
		</ul>
	</li>
	<li>s.repeat(n: number): string ('abc'.repeat(2) === 'abcabc')</li>
	<li>s.toLowerCase(), s.toUpperCase()</li>
	<li>There is not a great way to test if chars are uppercase/lowercase. You can use <code>s !== s.toLowerCase()</code> or <code>/[A-Z]/.test(s)</code>?</li>
</ul>

<h3>JavaScript Regex</h3>

<p><code>regex: RegExp</code>, get <code>/[A-Z]/</code> or <code>new RegExp('[A-Z]')</code></p>

<ul>
	<li>regex.exec(s) <em>or</em> s.match(regex): string[]|null, also updates regex.lastIndex if global so you can repeatedly call</li>
	<li>regex.test(s): boolean <em>or</em> s.search(regex): number|-1</li>
</ul>


<h3>JavaScript DOM</h3>
<a href="https://developer.mozilla.org/en-US/docs/Web/API/document">mdn @ document</a>
<table>
	<tr><th>document.</th></tr>
	<tr><td>head</td></tr>
	<tr><td>body</td></tr>
	<tr><td>title</td></tr>
	<tr><td>createAttribute(String name)</td><td>Attr object</td></tr>
	<tr><td>createElement(String name)</td></tr>
	<tr><td>createTextNode(String text)</td></tr>
	<tr><td>getElementsByClassName(String className)</td></tr>
	<tr><td>getElementsByTagName(String tagName)</td></tr>
	<tr><td>getElementById(String id)</td></tr>
	<tr><td>querySelector(String selector)</td><td>first element matching CSS selector, e.g. <code>.myclass</code>, <code>#foo td</code></td></tr>
	<tr><td>querySelectorAll(String selector)</td><td>all elements matching CSS selector</td></tr>
	<tr><td>addEventListener('DOMContentLoaded', fn)</td></tr>
</table>
<a href="https://developer.mozilla.org/en-US/docs/Web/API/element">mdn @ element</a>
<table>
	<tr><th>eventTarget.</th></tr>
	<tr><td>addEventListener(type: string, listener)</td><td>
			type can be e.g. "click"/"dblclick", "keydown"/"keypress"/"keyup", "change", "focus"/"blur", "submit"<br/>
			EventTarget is a superclass of Node
		</td></tr>
	<tr><th>node.</th></tr>
	<tr><td>parentNode</td><td>or null</td></tr>
	<tr><td>childNodes</td><td>NodeList (can use <code>.length</code>, <code>[0]</code></td></tr>
	<tr><td>firstChild</td><td>or null</td></tr>
	<tr><td>lastChild</td><td>or null</td></tr>
	<tr><td>nextSibling</td><td>or null</td></tr>
	<tr><td>previousSibling</td><td>or null</td></tr>
	<tr><td>appendChild(node: Node)</td></tr>
	<tr><td>insertBefore(node: Node, refchild: Node)</td><td>insert node as child before refchild, which must be a child</td></tr>
	<tr><td>removeChild(child: Node)</td><td>returns child, which may be reused</td></tr>
	<tr><td>textContent</td><td>assignable</td></tr>
	<tr><th>element.</th></tr>
	<tr><td>parentElement</td><td>or null</td></tr>
	<tr><td>children</td><td>(Elements) HTMLCollection (can use <code>.length</code>, <code>[0]</code>, <code>["key"]</code></td></tr>
	<tr><td>classList</td><td>DOMTokenList (can use <code>.length</code>, <code>.contains("token")</code>, <code>.add("token")</code>...</td></tr>
	<tr><td>className</td><td>assignable</td></tr>
	<tr><td>id</td></tr>
	<tr><td>innerHTML</td><td>assignable</td></tr>
	<tr><td>outerHTML</td><td>"experimental"</td></tr>
	<tr><td>firstElementChild</td><td>(Element) or null</td></tr>
	<tr><td>lastElementChild</td><td>(Element) or null</td></tr>
	<tr><td>nextElementSibling</td><td>(Element) or null</td></tr>
	<tr><td>previousElementSibling</td><td>(Element) or null</td></tr>
	<tr><td>getAttribute(name: string)</td><td>string; may be null or "" on no attribute</td></tr>
	<tr><td>hasAttribute(name: string)</td></tr>
	<tr><td>setAttribute(name: string, value)</td></tr>
	<tr><td>getElementsByClassName(className: string)</td></tr>
	<tr><td>getElementsByTagName(tagName: string)</td></tr>
	<tr><td>querySelector(selector: string)</td><td>first element matching CSS selector, e.g. <code>.myclass</code>, <code>#foo td</code></td></tr>
	<tr><td>querySelectorAll(selector: string)</td><td>all elements matching CSS selector</td></tr>
	<tr><td>clientHeight, clientWidth</td><td>padding + content, excluding scrollbars; rounded to integer!</td></tr>
	<tr><td>scrollHeight, scrollWidth</td><td>padding + space for content to not scroll; rounded to integer!</td></tr>
	<tr><td>offsetHeight, offsetWidth</td><td>(HTMLElement only?) border + padding + scrollbars if any + content; rounded to integer!</td></tr>
	<tr><td>getBoundingClientRect()<br/>.height, .width, (.top, .left, ...)</td><td>border + padding + scrollbars if any + content; floating-point<br/>Coordinates are from viewport's scrolling position; add <code>window.scrollX</code>/<code>scrollY</code> for absolute</td></tr>
</table>
<h3>jQuery</h3>
$(selector), $(document.createElement(tagname: string))
<table>
	<tr><th>Attributes/CSS</th></tr>
	<tr><td>.attr(name: string)</td><td>.attr(name: string, value: string)</td></tr>
	<tr><td>.prop(name: string)</td><td>.prop(name: string, value: string)</td></tr>
	<tr><td>.val()</td><td>.val(value: string)</td></tr>
	<tr><td>.hasClass(cls: string)</td><td></td></tr>
	<tr><td></td><td>.addClass(cls: string)</td></tr>
	<tr><td></td><td>.removeClass(cls: string)</td></tr>
	<tr><td></td><td>.toggleClass(cls: string)</td></tr>
	<tr><td>.html()</td><td>.html(value: string)</td></tr>
	<tr><td>.text()</td><td>.text(value: string)</td></tr>
	<tr><th>Handlers</th></tr>
	<tr><td>.click(handler)</td></tr>
	<tr><td>.dblclick(handler)</td></tr>
	<tr><td>.hover(handler)</td></tr>
	<tr><th>Traversal: Filtering</th></tr>
	<tr><td>.first()</td></tr>
	<tr><td>.last()</td></tr>
	<tr><td>.filter(selector: string)</td></tr>
	<tr><td>.eq(index: number)<br/> (can be negative, Pythonically)</td></tr>
	<tr><th>Traversal</th></tr>
	<tr><td>.children(selector?: string)</td></tr>
	<tr><td>.find(selector: string)<br/> (descendants)</td></tr>
	<tr><td>.next()</td></tr>
	<tr><td>.prev()</td></tr>
	<tr><td>.parent()</td></tr>
</table>
<h3>Lodash</h3>
<p>Selected utilities.</p>
<ul>
	<li>_.flatten(array) (one level)</li>
	<li>_.debounce(func, [wait=0], [options: {leading: boolean = false, maxWait: number?, trailing: boolean}])</li>
	<li>_.times(n, [func]) = [func(0), ..., func(n-1)]</li>
	<li>_.constant(value)</li>
	<li>_.identity</li>
	<li>_.noop // returns undefined</li>
</ul>
<h3>TypeScript</h3>
<pre>let one: number = 1;
function add(a: number, b: number): number {
	return a + b;
}</pre>
Basic types:
<ul>
	<li>number, string, boolean</li>
	<li>any</li>
	<li>Object</li>
	<li>undefined, null</li>
	<li>number[] <em>or</em> Array&lt;number&gt; (any[] works)</li>
	<li>[string, number] // tuple</li>
	<li>string|number // union</li>
	<li>T&amp;U // intersection</li>
	<li>string|undefined // option (but all types allow undefined and null unless --strictNullChecks)</li>
	<li>function print(x: string): void {...}</li>
	<li>function haltCatchFire(): never {...} // bottom type</li>
	<li>(&lt;string&gt;idk).length <em>or</em> (idk as string).length // type assertion, transpiles to nothing</li>
	<li>type Name = string; // alias</li>
	<li>type Coin = "heads" | "tails"; // light enum</li>
</ul>
Destructuring:
<pre>
let [first, second, ...rest] = [1, 2, 3, 4];
[first, second] = [second, first];
let comp = [...rest, first, second];
function f([a, b]: [number, string]) {...}
let { a, b } = {a: 1, b: 2};
</pre>
Fancy types:
<pre>
let add: (a: number, b: number) =&gt; number = ...;
function f(
	a: number,
	defArg: number = 1,
	optArg?: number,
	...varArgs: number[]): string { ... }</pre>
Constrains type of <code>this</code> that method is called on:
<pre>interface Thing { ... }
function method(this: Thing) { ... }</pre>
<code>this</code> must be first argument. Use <code>this: void</code> to force no usage.
<pre>interface FillStyle {
	color: string;
	width?: number;
}
interface StyleWithStuff {
	color: string;
	[prop: string]: any;
}
interface NumericBinaryOperator {
	(a: number, b: number): number;
}
interface StringArray {
	[index: number]: string;
}</pre>
Generics:
<pre>function identity&lt;T&gt;(arg: T): T { return arg; }</pre>
Type guard:
<pre>if (typeof foo === "number") { ... }
class Thing { ... }
if (thing instanceof Thing) { ... }</pre>
<h3>Flow</h3>
<ul>
	<li>The type of undefined is <code>void</code>, not <code>undefined</code></li>
	<li>The uninhabitable type is <code>empty</code>, not <code>never</code></li>
	<li>(1 + 1 : number) is a type assertion. It fails to typecheck if the type is wrong. To cast, type-assert through <code>any</code>.</li>
	<li>{| foo: bar |} is an "exact object type" that cannot have additional properties.</li>
</ul>
